@font-face {
    font-family: Montserrat-Regular;
    src: url('../../assets/fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: Montserrat-Bold;
    src: url('../../assets/fonts/Montserrat/Montserrat-Bold.ttf');
}

@font-face {
    font-family: Montserrat-SemiBold;
    src: url('../../assets/fonts/Montserrat/Montserrat-SemiBold.ttf');
}

@font-face {
    font-family: Montserrat-Medium;
    src: url('../../assets/fonts/Montserrat/Montserrat-Medium.ttf');
}

@font-face {
    font-family: Montserrat-Light;
    src: url('../../assets/fonts/Montserrat/Montserrat-Light.ttf');
}

@font-face {
    font-family: Montserrat-ExtraBoldItalic;
    src: url('../../assets/fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf');
}

@font-face {
    font-family: 'Avenir LT Std 55 Roman';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir LT Std 55 Roman'), url('../../assets/fonts/avenir/AvenirLTStd-Roman.woff') format('woff');
}
@font-face {
    font-family: 'Avenir LT Std 55 Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir LT Std 55 Oblique'), url('../../assets/fonts/avenir/AvenirLTStd-Oblique.woff') format('woff');
}
@font-face {
    font-family: 'Avenir LT Std 35 Light';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir LT Std 35 Light'), url('../../assets/fonts/avenir/AvenirLTStd-Light.woff') format('woff');
}
@font-face {
    font-family: 'Avenir LT Std 35 Light Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir LT Std 35 Light Oblique'), url('../../assets/fonts/avenir/AvenirLTStd-LightOblique.woff') format('woff');
}
@font-face {
    font-family: 'Avenir LT Std 45 Book';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir LT Std 45 Book'), url('../../assets/fonts/avenir/AvenirLTStd-Book.woff') format('woff');
}
@font-face {
    font-family: 'Avenir LT Std 45 Book Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir LT Std 45 Book Oblique'), url('../../assets/fonts/avenir/AvenirLTStd-BookOblique.woff') format('woff');
}
@font-face {
    font-family: 'Avenir LT Std 65 Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir LT Std 65 Medium'), url('../../assets/fonts/avenir/AvenirLTStd-Medium.woff') format('woff');
}
@font-face {
    font-family: 'Avenir LT Std 65 Medium Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir LT Std 65 Medium Oblique'), url('../../assets/fonts/avenir/AvenirLTStd-MediumOblique.woff') format('woff');
}
@font-face {
    font-family: 'Avenir LT Std 85 Heavy';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir LT Std 85 Heavy'), url('../../assets/fonts/avenir/AvenirLTStd-Heavy.woff') format('woff');
}
@font-face {
    font-family: 'Avenir LT Std 85 Heavy Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir LT Std 85 Heavy Oblique'), url('../../assets/fonts/avenir/AvenirLTStd-HeavyOblique.woff') format('woff');
}
@font-face {
    font-family: 'Avenir LT Std 95 Black';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir LT Std 95 Black'), url('../../assets/fonts/avenir/AvenirLTStd-Black.woff') format('woff');
}
@font-face {
    font-family: 'Avenir LT Std 95 Black Oblique';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir LT Std 95 Black Oblique'), url('../../assets/fonts/avenir/AvenirLTStd-BlackOblique.woff') format('woff');
}

body{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
a:hover, a:active, a:focus{
    text-decoration: none;
}

.bounce-1 {
    animation-name: bounce-1;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes bounce-1 {
    0%   { transform: translateX(0); }
    50%  { transform: translatex(-10px); }
    100% { transform: translateX(0); }
}
.change-pin-input, .mastercard-amount-input,.mastercard-input,.card-pin-input,.expiry-input,.addcard-input,.input-location,.verify-input-location,.verify-input,.verify-input2,.form-input,select,textarea,button,.form-control,.input-field:focus,.input-field:active {
    outline:0px !important;
    -webkit-appearance:none!important;
    border-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none !important;
}
.okike-splash{
    width: 100%;
    height: 100vh;
    background: url("../../assets/images/okike-splash-bg.png") bottom 70px right no-repeat;
    background-size: 280px 400px;
    clear: both;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
}
.foot-note{
    font-family: Montserrat-Medium;
    font-size: 16px;
    color: #B7B7B7;
    letter-spacing: 0;
}
.foot-note-2{
    font-size: 14px;
    color: #ffffff;
    letter-spacing: 0;
    text-align: center;
    display: flex;
    justify-content: center;
}
.foot-note-2 p{
    font-size: 14px;
    color: #ffffff;
    letter-spacing: 0;
    text-align: center;
    display: flex;
    justify-content: center;
}
.okike-splash2{
    width: 100%;
    height: 100vh;
    background-color: #E69334;
}
.okike-splash2-inner{
    width: 100%;
    height: 100vh;
    background: url("../../assets/images/okike-splash-bg2.png") bottom 0px right no-repeat;
    background-size: 300px 283px;
    position: relative;
    z-index: 1;

}
.okike-splash2-inner2{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
}
.explore-txt h3{
    font-family: Montserrat-Light;
    font-size: 34px;
    color: #FFFFFF;
    text-align: center;
}
.explore-txt h3 b{
    font-family: Montserrat-Bold;
    font-size: 34px;
    color: #FFFFFF;
    text-align: center;
}
.fontawesom{
    opacity: 1;
    color: #ffffff;
    margin: 0 2px;
}
.fontawesom1{
    opacity: 0.5;
    color: #ffffff;
    margin: 0 2px;
}
.okike-splash3{
    width: 100%;
    height: 100vh;
    background-color: #16A085;
}
.okike-splash3-inner{
    width: 100%;
    height: 100vh;
    background: url("../../assets/images/okike-splash-bg3.png") top right no-repeat, url("../../assets/images/lag-bg.png") bottom no-repeat;
    background-size: 300px 400px, contain;
    position: relative;
    z-index: 1;

}
.okike-splash3-inner2{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
}
.cash-icons img{
    width: 80%;
}
.foot-note2{
    display: flex;
    justify-content: space-between;
    padding-bottom: 2em;
}
.typer-txt {
    font-family: Montserrat-ExtraBoldItalic;
    font-size: 21px;
    color: #FFFFFF;
    letter-spacing: 0.79px;
    text-align: center;
    padding-top: 0.7rem;
}
.typer-txt vue-typer{
    font-family: Montserrat-ExtraBoldItalic;
    font-size: 21px;
    color: #FFFFFF;
    letter-spacing: 0.79px;
    text-align: center;
    padding-top: 0.7rem;
}
.vue-typer .custom.char.selected {
    color: #ffffff;
}

.vue-typer .custom.caret {
    animation: rocking 1s ease-in-out 0s infinite;
}
.vue-typer .custom.char.typed {
    color: #FFFFFF;
}
.vue-typer .custom.caret.selecting {
    display: inline-block;
    background-color: #E91E63;
}
@keyframes rocking {
    0%,100% {transform: rotateZ(-10deg);}
    50%     {transform: rotateZ(10deg);}
}
.foot-note2 img{
    width: 55px;
}
.login-section{
    background:linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../../assets/images/food-bg.jpg) center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.login-page{
    text-align: center;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    padding: 1rem 0;
}
.abacha-txt{
    font-family: Montserrat-ExtraBoldItalic;
    font-size: 25px;
    color: #FFFFFF;
    letter-spacing: 0.79px;
    text-align: center;
}
.login-with-btn{
    background: rgba(0,0,0,0.25);
    border: 3px solid #FFFFFF;
    border-radius: 32px;
    font-family: Montserrat-Medium;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    padding: 0.8rem 2.3rem;
    width: 100%;
}
.login-with-btn2{
    background: rgba(0,0,0,0.25);
    border: 3px solid #FFFFFF;
    border-radius: 32px;
    font-family: Montserrat-Medium;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    padding: 0.8rem 1.9rem;
}
.login-social{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}
.login-social img{
    padding-left: 8px;
}
.social_icon{
    display: flex;
}
.fb{
    width: 47px;
    height: 47px;
    padding: 15px;
    color: #000000;
    font-size: 10px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 50%;
    opacity: 1;
    margin-left: 1em;
    cursor: pointer;
}
.fb:hover{
    opacity: 0.9;
}
.social{
    font-size: 20px;
}
.okike-verify{
    width: 100%;
    height: 100vh;
    background-color: #252525;
}
.okike-verify-inner{
    width: 100%;
    height: 100vh;
    background: url("../../assets/images/lag-bg2.png") bottom no-repeat;
    background-size: contain;
    position: relative;
    z-index: 1;
    padding: 1.4rem 0;

}
.okike-verify-inner2{
    width: 100%;
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*flex-direction: column;*/
}
.verify-title {
    color: #ffffff;
    padding: 1.7rem 0;
}
.verify-title h3{
    font-size: 25px;
    font-family: 'Avenir LT Std 65 Medium';
}
.verify-title p{
    font-size: 17px;
    font-family: 'Avenir LT Std 55 Roman';
}
.verify-number{
    padding-bottom: 2rem;
}
.verify-input{
    border: none;
    background: #3B3B3B;
    border-radius: 35px;
    padding: 1rem 2rem;
    color: #ffffff;
    font-size: 20px;
    width: 100%;
    margin-bottom: 20px;
}
.verify-input2{
    border: none;
    background: #3B3B3B;
    border-radius: 35px;
    padding: 1rem 2rem;
    color: #ffffff;
    font-size: 20px;
    width: 100%;
    margin-bottom: 20px;
}
.verify-input2::placeholder{
    color: #ffffff;
}
.verify-btn{
    border: none;
    width: 100%;
    background: #FFFFFF;
    border-radius: 35px;
    font-family: Montserrat-Medium;
    font-size: 20px;
    color: #252525;
    letter-spacing: 0;
    text-align: center;
    padding: 1rem 2rem;
}
.abacha-text{
    display: flex;
    justify-content: center;
    height: 40px;
}
.verify-code-title {
    color: #ffffff;
    padding: 1.5rem 0;
}
.verify-code-title h3{
    font-size: 25px;
    font-family: 'Avenir LT Std 65 Medium';
}
.verify-code-title p{
    font-size: 16px;
    font-family: 'Avenir LT Std 55 Roman';
}
.locations{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 59vh;
}
.enter-location{
    display: flex;
    border: none;
    background: #3B3B3B;
    border-radius: 35px;
    padding: 0 1rem;
    color: #ffffff;
    font-size: 20px;
    width: 100%;
    margin-bottom: 20px;
}
.verify-input-location{
    border: none;
    background: #3B3B3B;
    border-radius: 35px;
    padding: 1rem;
    color: #ffffff;
    font-size: 20px;
    width: 100%;
    line-height: 1em;
}
.verify-input-location::placeholder{
    color: #ffffff;
}
.location-hashtag{
    font-size: 14px;
    font-style: italic;
}
.abacha-everywhere{
    font-family: Montserrat-ExtraBoldItalic;
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 0.59px;
    text-align: center;
    padding: 1rem 0;
}
.abacha-everywhere p{
    margin-bottom: 0;
}

.createpin-text{
    font-family: Avenir-Roman;
    font-size: 12px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    padding: 1rem 0;
}
.createpin-text p{
    margin-bottom: 0;
}

/*Landing Page after onboarding starts*/
.okike-landing{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: #f3f5f7;
    /*-webkit-animation-timing-function: ease-in-out;*/
    /*animation-timing-function: ease-in-out;*/
    /*-webkit-animation-name: fadeInDown;*/
    /*animation-name: fadeInDown;*/
}
.okike-landing-inner{
    width: 100%;
    height: 100%;
    background: url("../../assets/images/okike-logo-bg.png") top 0px right no-repeat;
    background-size: contain;
    background-size: 250px 283px;
    position: relative;
    z-index: 1;
}
.up-intro{
    display: flex;
    justify-content: space-between;
    padding: 2rem 0 1rem;
}
.hi-username{

}
.hi-username h1{
    font-family: Avenir-Black;
    font-size: 30px;
    color: #4A4A4A;
    letter-spacing: 0.88px;
    margin-bottom: 0;
}
.hi-username p{
    font-family: Avenir-Roman;
    font-size: 19px;
    color: #6F6F6F;
    letter-spacing: 0;
}
.locate-user{
    background: #FFFFFF;
    box-shadow: 0 0 14px 0 rgba(209,209,209,0.50);
    border-radius: 27.5px;
    padding: 0.2rem 2rem;
    width: 100%;
    display: flex;
}
.input-location{
    width: 100%;
    padding: 0.5rem ;
    font-family: Avenir-Roman;
    font-size: 16px;
    color: #6F6F6F;
    letter-spacing: 0;
}
.promo-today{
    padding: 1rem 0 0;
}
.promo-today h1{
    font-family: Avenir-Heavy;
    font-size: 20px;
    color: #4A4A4A;
    letter-spacing: 0;
    padding-left: 1rem;
}
.owl-item{
    /*width: 140px !important;*/
    /*margin-right: 40px;*/
}
.sliding-post{
    margin-right: 15px;
    width: 100%;
    border-radius: 15px;
}
.product_img{
    border-radius: 15px;
    width: 145px;
    height: 145px;
}
.sliding-post img{
    width: 145px;
    height: 145px;
    object-fit:cover;
    box-shadow: 0px 2px 13px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
}
.sliding-post p{
    margin-bottom: 0;
}
.food-details{
    padding: 1rem 0;
}
.food-name{
    font-family: Avenir-Heavy;
    font-size: 14px;
    color: #4A4A4A;
    letter-spacing: 0;
    padding-bottom: 5px;
}
.food-price{
    font-family: Avenir-Heavy;
    font-size: 14px;
    color: #4A4A4A;
    letter-spacing: 0;
    padding-bottom: 5px;
}
.food-price-big{
    opacity: 0.5;
}
.food-time{
    font-family: Avenir-Heavy;
    font-size: 11px;
    color: #898989;
    letter-spacing: 0;
}
.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 10px;
    display: none;
}
.promo-today-slide{
    display: flex;
    overflow-y: overlay;
    scroll-behavior: smooth;
    padding: 0.5rem 0rem;
    width: 93%;
    margin:auto;
}
::-webkit-scrollbar{
    display: none;
}

.tablinks{
    background: none;
    border: none;
    padding: 5px;
    margin-right: 10px;
}


/*view-okike-food start*/
.view-okike-food{
    width: 100%;
    height: 100vh;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    /*-webkit-animation-name: fadeInLeft;*/
    /*animation-name: fadeInLeft;*/
}
.view-food-img img{
    width: 100%;
    height: 300px;
    object-fit: contain;
}
.food-overlay{
    position: absolute;
    z-index: 1;
    background:linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    width: 100%;
    height: 100%;
    padding: 2rem 1rem;
}
.food-title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #ffffff;
    text-align: center;
    padding-top: 2rem;
}
.food-title h3{
    font-family: Avenir-Heavy;
    font-size: 30px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
}
.food-selection{
    background: #FFFFFF;
    border-radius: 40px 40px 0 0;
    height: 70vh;
    width: 100%;
    position: absolute;
    z-index: 2;
    padding: 1rem 1.3rem;
    margin-top: -6rem;

}
.food-name-price{
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.food-name-price h3{
    font-family: Avenir-Heavy;
    font-size: 22px;
    color: #000000;
    letter-spacing: 0;
    text-align: center;
}
.buy-combo{
    display: flex;
    justify-content: space-between;
    z-index: 2;
    padding-bottom: 10px;
    border-bottom: 1px solid #E4E4E4;
}
.buy-combo p{
    font-family: Avenir-Roman;
    font-size: 18px;
    color: #7C7C7C;
    letter-spacing: 0;
    margin: auto;
    margin-left: 0;
}
.buy-combo-btn{
    background: #3AA08E;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    border-radius: 27.5px;
    padding: 0.2rem 1rem;
    height: 55px;
    font-weight: 900;
}
.customize-food{
    position: relative;
    z-index: 3;
    margin-top: 1rem;
    scroll-behavior: smooth;
    /*height: auto;*/
    margin-bottom: 10vh;
}
.customize-food h4{
    text-align: center;
    font-family: Avenir-Heavy;
    font-size: 18px;
    color: #4A4A4A;
    letter-spacing: 0;
}
.customize-border{
    border: 1px solid #DADADA;
    border-radius: 32.5px;
    padding: 5px;
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}
.add-to-bag{
    width: 100%;
    z-index: 4;
    padding: 1.5rem;
}
.add-to-bag-bg{
    background: #209580;
    color: #ffffff;
    border-radius: 27.5px;
    display: flex;
    justify-content: space-between;
    padding: 0.3rem;
}
.add-to-bag-bg h3{
    font-family: Avenir-Heavy;
    font-size: 19px;
    color: #FFFFFF;
    letter-spacing: 0;
    margin-bottom: 0;
    padding-top: 10px;
    padding-left: 10px;
}
.add-to-bag-bg span{
    font-size: 12px;
}
.add-to-bag-inner{
    display: flex;
}
.add-to-bag-inner p{
    font-family: Avenir-Heavy;
    font-size: 19px;
    color: #FFFFFF;
    letter-spacing: 0;
    margin-bottom: 0;
    padding: 7px;
}
/*view-okike-food ends*/

/*Cart Page starts*/
.okike-cart-page {
    width: 100%;
    height: 100vh;
    background: #f1f1f1;
}
/*Cart Page ends*/

/*Invite Friends Page starts*/
.invite-friends{
    width: 100%;
    height: 100vh;
    background-color: #E57227;
}
.invite-friends-inner{
    width: 100%;
    height: 100vh;
    background: url("../../assets/images/okike-bg-orange.png") bottom 145px right no-repeat;
    background-size: 280px 400px;
    position: relative;
    z-index: 1;

}
.invite-friends-inner2{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
}
/*Invite Friends Page ends*/

/*Wallet Balance Page starts*/
.wallet-balance-page{
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
}
.wallet-balance-inner{
    width: 100%;
    height: 90vh;
    background: url("../../assets/images/okike-bg-orange.png") bottom 15px right no-repeat;
    background-size: 280px 400px;
    position: relative;
    z-index: 1;

}
.wallet-balance-inner2{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
}
/*Wallet Balance Page ends*/

/*Add Bank Card Page starts*/
.add-bank-card-page{
    width: 100%;
    height: 100vh;
    background-color: #4A4A4A;
}
.add-bank-card-inner{
    width: 100%;
    height: 90vh;
    background: url("../../assets/images/okike-bg-orange.png") bottom 15px right no-repeat;
    background-size: 280px 400px;
    position: relative;
    z-index: 1;

}
.add-bank-card-inner2{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
}
/*Add Bank Card Page ends*/

/*Food History Page starts*/
.food-history-page{
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
}
/*Food History Page ends*/

.upper-menu{
    display: flex;
    justify-content: space-between;
}
.menu-btn{
    padding-top: 10px;
}

/*Add Cash by Bank Card starts*/
.add-cash-card-page{
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
}
.add-cash-card-page-inner{
    width: 100%;
    height: 100vh;
}
.add-cash-card h3{
    font-family: Avenir-Heavy;
    font-size: 24px;
    color: #000000;
    letter-spacing: 0;
}
.add-cash-card p{
    font-family: Avenir-Roman;
    font-size: 17px;
    color: #4A4A4A;
    letter-spacing: 0;
}
.mastercard_dropdown{
    background: #F0F0F0;
    border: 2px solid #8BBFB6;
    border-radius: 31px;
    width: 100%;
    padding: 10px 15px;
    display: flex;
}
.mastercard-input{
    border: none;
    background: none;
    width: 100%;
    padding: 5px;
}
.mastercard-amount-input{
    background: #BCE3DC;
    border: 2px solid #8BBFB6;
    border-radius: 31px;
    width: 100%;
    padding: 15px 20px;
}
.addcash-btn{
    border: none;
    width: 100%;
    background: #16A085;
    border-radius: 35px;
    font-family: Avenir-Black;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    padding: 1rem 2rem;
    margin-bottom: 10px;
}
.pin_txt{
    font-family: Avenir-MediumOblique;
    font-size: 16px;
    color: #B9B9B9;
    letter-spacing: 0;
    text-align: right;
    padding-right: 20px;
}
.pw-key{
    font-family: Avenir-Roman;
    font-size: 12px;
    color: #4A4A4A;
    letter-spacing: 0;
    text-align: center;
}
.pw-key img{
    padding: 10px 0;
}
.mastercard_flex{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 67%;
}
.addcash_txt{
    font-family: Avenir-Roman;
    font-size: 14px;
    color: #A2A2A2;
    letter-spacing: 0;
    text-align: center;
}
.mastercard_addcash{
    border: none;
    width: 100%;
    background: #16A085;
    border-radius: 35px;
    font-family: Avenir-Black;
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
}
.card_icon{
    padding: 5px;
}
.addcash-btn2{
    border: none;
    background: none;
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    padding: 5px;
}
.add-cash-card h3{
    font-family: Avenir-Heavy;
    font-size: 25px;
    color: #000000;
    letter-spacing: 0;
}
.add-cash-card p{
    font-family: Avenir-Roman;
    font-size: 19px;
    color: #4A4A4A;
    letter-spacing: 0;
}
/*Add Cash by Bank Card ends*/

/*Floating Cart*/
.cart-float{
    /*position: sticky;*/
    text-align: right;
    z-index: 5;
    bottom:1em;
}
.menu-float{
    /*position: fixed;*/
    text-align: left;
    z-index: 5;
    bottom:1em;
}
.menu-float img{
    width: 84px;
}
.cart-count{
    width: 26px;
    height: 26px;
    font-size: 13px;
    text-align: center;
    padding: 12px 0;
    border-radius: 50%;
    background: #000000;
    color: #ffffff;
    position: absolute;
    margin: 0.5rem 0 -2rem -1.5rem;
}
/*Floating Cart end*/
/*Landing Page after onboarding ends*/

.okike-tab-card{
    background: transparent;
}
.card{
    background-color: transparent !important;
    border: none !important;
}
.card-header {
    padding: 0.75rem 0.25rem 0.75rem 0.75rem;
    margin-bottom: 0;
    background-color: transparent !important;
    border: none !important;
}
.card-header-tabs {
    margin-right: -0.625rem;
    margin-bottom: -0.75rem;
    margin-left: -0.625rem;
    border-bottom: 0;
    overflow-y: scroll !important;
    display: -webkit-box !important;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #000000;
    background-color: none;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    background-color: transparent !important;
    border: none !important;
    font-family: Avenir-Heavy;
    font-size: 18px !important;
    color: #000000 !important;
    letter-spacing: 0;
    /*border-bottom: 1px solid #000000 !important;*/
    margin-bottom: 10px !important;
}
.nav-tabs .nav-link {
    border: none;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    font-family: Avenir-Heavy;
    font-size: 18px !important;
    text-decoration: none !important;
    color: #BFBFBF !important;
    letter-spacing: 0;
    text-align: center;
    opacity: 0.8 !important;
}
.nav-tabs .nav-link:hover {
    border: none;
    color: #4A4A4A;
}
.black_dot{
    background: #4A4A4A;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 3.5rem;
    margin-bottom: 1rem;
}
.food-promo-today{
    padding-bottom: 1rem;
}
.modal{
    height: 103% !important;
}
.modal.show .modal-dialog {
    -webkit-transform: none;
    transform: none;
    align-items: flex-end !important;
}
.modal-backdrop{
    background-color: rgba(0,0,0,0.5) !important;
}
.modal-dialog{
    margin: 0 !important;
}
.modal-content{
    border-radius: 35px 35px 0 0 !important;
}
